body {
  margin: 0;
  overflow: hidden;
}

p {
  margin: 10px 10px 0 10px;
  font-size: 15px;
  line-height: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.4);
}

ol {
  padding: 0;
  margin: 10px;
  border: #d0d0d0;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.4);
}
ol:not(.expanded) li:first-child {
  display: block;
  list-style: none;
}

ol:not(.expanded) li:first-child:before {
  content: '↓ ';
  color: #666;
}

ol:not(.expanded) li:first-child:after {
  content: ' ↵';
  color: #666;
}

ol:not(.expanded) li:not(:first-child) {
  display: none;
}

ol.expanded:before {
  content: '↔ ';
  color: #666;
  display: block;
  float: left;
}

ol.expanded li {
  float: left;
  list-style-position: inside;
  padding-left: 0.5em;
}