body {
  margin: 0;
  overflow: hidden;
}

body.candidateselectionmode > p {
  opacity: 0.6;
}

body:not(.candidateselectionmode) > ol {
  opacity: 0.6;
}

ol {
  padding: 0;
  margin: 10px;
  border: #d0d0d0;
  font-size: 20px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.4);
}

/* classic clearfix */
ol::after {
  content: '';
  clear: both;
  display: block;
}

ol:not(.expanded) li:first-child {
  display: block;
  list-style: none;
}

ol:not(.expanded) li:first-child:before {
  content: '↓';
  padding-right: 0.5em;
  opacity: 0.5;
}

ol:not(.expanded) li:first-child:after {
  content: '↵';
  padding-left: 0.5em;
  opacity: 0.5;
}

ol:not(.expanded) li:not(:first-child) {
  display: none;
}

ol.expanded {
  padding-left: 1.5em;
}

ol.expanded:before {
  content: '↔';
  padding-right: 0.5em;
  margin-left: -1.5em;
  opacity: 0.5;
  display: block;
  float: left;
}

ol.expanded li {
  float: left;
  list-style-position: inside;
  padding-left: 0.5em;
}
